<% include partials/header %>

<h1>	
	Welcome to a nerdy but musically challenged website for musical puns! 
</h1>

<img src="https://wordsofautumn.files.wordpress.com/2013/07/wpid-instrumental2.jpg" alt="Homepage">		
	
<% include partials/footer %>




